<div class="title">
  <h1>Editing Note</h1>
</div>

<%= render 'form', note: @note %>

<div class="form-btn">
  <%= link_to 'Show', @note, class: 'btn-control' %>
  <%= link_to 'Back', notes_path, class: 'btn-control' %>
</div>
