<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @note_category.name %>
</p>

<%= link_to 'Edit', edit_note_category_path(@note_category) %> |
<%= link_to 'Back', note_categories_path %>
